[Desktop Entry]
Encoding=UTF-8
Name=blibrary
Comment=blibrary P2P Cryptocurrency
Comment[fr]=blibrary, monnaie virtuelle cryptographique pair à pair
Comment[tr]=blibrary, eşten eşe kriptografik sanal para birimi
Exec=blibrary-qt %u
Terminal=false
Type=Application
Icon=blibrary128
MimeType=x-scheme-handler/blibrary;
Categories=Office;Finance;
