/* background */

.QWidget {
  background-color: #ecf0f1;
}

.QFrame .QPushButton {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-radius: 6px;
  background: linear-gradient(#2c3e50, #34495e) #34495e;
}


/* frame */
.QFrame#frame, .QFrame#frameObfuscation, .QFrame#frame_2 {
  background-color: none;
  border-radius: 5px;
  padding: 5px 10;
  margin: 6px;
  border: 1px solid #bdc3c7;
  overflow: hidden;
}
.QFrame#frame .QLabel, .QFrame#frameObfuscation .QLabel, .QFrame#frame_2 .QLabel {
  qproperty-alignment: 'AlignVBottom | AlignRight';
  font-size: 12px;
  color: #2c3e50;
}

/* balance top */

.QFrame#frame .QLabel {
  qproperty-alignment: 'AlignVBottom | AlignRight';
  font-size: 12px;
  color: #2c3e50;
}

.QFrame#frame .QLabel#labelBalance {
  font-size: 20px;
  qproperty-alignment: 'AlignVBottom | AlignLeft';
}

/* z balance */
.QFrame#frame_4, .QFrame#frame_3 {
  margin: 10px;
}

.QFrame#frame_4 .QLabel, .QFrame#frame_3 .QLabel {
  font-size: 9px;
  color: #34495e;
}
