/* background */

.QWidget {
  background-color: #ecf0f1;
}

/* frame */
.QFrame#frame, .QFrame#frameObfuscation {
  background-color: none;
  border-radius: 5px;
  padding: 5px 10;
  margin: 6px 6px 0px 3px;
  border: 1px solid #bdc3c7;
  overflow: hidden;
}

/* balance top */

.QFrame#frame .QLabel {
  qproperty-alignment: 'AlignVBottom | AlignRight';
  font-size: 12px;
  color: #2c3e50;
}

.QFrame#frame .QLabel#labelBalance {
  font-size: 20px;
  qproperty-alignment: 'AlignVBottom | AlignLeft';
}

/* z balance */
.QFrame#frame_4, .QFrame#frame_3 {
  margin: 10px;
}

.QFrame#frame_4 .QLabel, .QFrame#frame_3 .QLabel {
  font-size: 9px;
  color: #34495e;
}
